/*ПОДКЛЮЧЕНИЕ ШРИФТОВ*/

@font-face {
	font-family: HammersmithOne;
	src: url(../fonts/HammersmithOne-Regular.woff);
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Playfair Display";
	src: url(../fonts/PlayfairDisplay-Black.woff);
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: "Playfair Display";
	src: url(../fonts/PlayfairDisplay-Bold.woff);
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Playfair Display";
	src: url(../fonts/PlayfairDisplay-Regular.woff);
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-Black.woff);
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-Light.woff);
	font-weight: 300;
	font-style: normal;
}
/*Основные стили*/
* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}
button {
	border: none;
}
a {
	text-decoration: none;
}
/*Шапка сайта*/
.body {
	font-family: Roboto;
	color: rgb(255, 255, 255);
}
.wrapper {
	margin: auto 50px;
}
.header {
	height: 80vh;
	background-image: url(../images/bg_mazur.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.img__wrap {
	height: 80%;
	position: absolute;
	bottom: 0;
	right: 20%;
	z-index: 1;
}
img {
	max-height: 100%;
}
.header_wrap {
	height: 80vh;
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}
.header__title {
	font-family: Playfair Display;
	font-size: 50px;
	text-transform: uppercase;
	font-weight: 900;
	line-height: 100px;
	letter-spacing: 2px;
}
.header__text {
	font-family: Playfair Display;
	font-size: 25px;
	font-weight: 600;
	text-align: right;
	text-transform: uppercase;
	color: rgb(241, 28, 17);
}
.event {
	height: 100%;
	background-color: rgb(45, 42, 41);
	padding-top: 150px;
	padding-bottom: 100px;
}
.event-table {
	width: 100%;
	padding-top: 150px;
	text-align: center;
}
caption {
	height: 150px;
	font-weight: 600;
	font-size: 40px;
	color: rgb(241, 28, 17);
}
th {
	height: 50px;
	font-size: 30px;
	border-bottom: 4px solid rgb(241, 28, 17);
	vertical-align: center;
}
tr {
	height: 70px;
}
td {
	padding-top: 30px;
	padding-bottom: 20px;
	font-size: 30px;
	border-bottom: 1px solid rgb(241, 28, 17);
}
tr:nth-child(2n + 3) {
	background-color: rgb(105, 0, 0, 0.4);
}
tr:nth-child(n+2):hover {
	background-color: rgb(191, 118, 120);
}
.btn__order {
	padding: 10px 50px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background: none;
    border: 1px solid rgb(241, 28, 17);
    transition-property: background-color, border, ;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.btn__order:hover {
	background-color: rgb(241, 28, 17);
	border: 1px solid rgb(255, 255, 255);
}
.footer {
	height: 200px;
	background-color: rgb(0, 0, 0);
}
.footer__wrap {
	display: flex;
	justify-content: space-between;
}
.footer__item {
	margin-top: 40px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
.footer__item:first-child {
	flex: 1 0 30%;
}
.footer__item:last-child {
	flex: 1 1 30%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.footer__social-link {
	text-decoration: none;
	color: rgb(241, 28, 17);
	font-size: 50px;
	margin-right: 30px;
	transition-duration: 0.3s;
}
.footer__social-link:hover {
	border-bottom: 2px solid rgb(255, 255, 255);
	color: rgb(241, 28, 17, 0.7);
}
.footer__name {
	font-family: Playfair Display;
	font-size: 20px;
	color: rgb(241, 28, 17);
	padding: 10px 0;
}
.footer__phone {
	text-decoration: underline;
}
@media screen and (max-width: 1220px) {
	.img__wrap {
		height: 80%;
		bottom: 0;
		right: 10%;
	}
	img {
    	height: 100%;
	}
	.header__title {
		font-size: 40px;
		line-height: 80px;
		letter-spacing: 2px;
	}
	.header__text {
		font-size: 20px;
	}
}
@media screen and (max-width: 1008px) {
	img {
	    height: 100%;
	}
	.header__title {
		font-size: 30px;
		line-height: 50px;
		letter-spacing: 0;
	}
	.header__text {
		font-size: 15px;
	}
}
@media screen and (max-width: 740px) {
	.img__wrap {
		height: 80%;
		position: absolute;
		bottom: 0;
		right: 0;
	}
	.header_wrap {
		height: 80vh;
		width: 50%;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-end;
	}
	.header__title {
		margin-top: 150px;
		font-size: 25px;
		line-height: 40px;
		letter-spacing: 0;
	}
	caption {
		height: 120px;
		font-size: 30px;
	}
	th {
		height: 40px;
		font-size: 20px;
	}
	td {
		font-size: 15px;
	}
	.btn__order {
	    font-size: 15px;
	}
}
@media screen and (max-width: 520px) {
	.wrapper {
		margin: auto 0;
	}
	.header {
		height: 80vh;
		background: none;
		background-color: rgb(0, 0, 0);
		background-image: url(../images/mob_kirill_mazur.png);
		background-repeat: no-repeat;
		background-blend-mode: lighten;
		background-size: cover;
	}
	.img__wrap {
		height: 100%;
		bottom: 0;
		right: 0;
		width: 100%;
	}
	img {
	    display: none;
	}
	.header_wrap {
		padding-bottom: 50px;
		width: 100%;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
	}
	.header__title {
		font-size: 30px;
	}
	.btn__order {
		padding: 10px 30px;
	}
	.footer__wrap {
		display: flex;
		justify-content: space-around;
	}
	.footer__item {
		margin-top: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.footer__item:last-child {
		flex: 1 1 30%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.footer__social-link {
		font-size: 40px;
		margin-right: 30px;
		transition-duration: 0.3s;
	}
}